.NavBar {
  padding: var(--xSmall) var(--hBodyPadding);
  color: var(--secondary);
  border-bottom: 1px solid var(--tertiary);
  position: sticky;
  top: 0;
  background-color: var(--primary);
  transition: background-color var(--transition-timing);
  min-width: max-content;
  display: flex;
  align-items: center;
}

.SkipLink {
  transition-property: transform color border-color;
  transition-duration: var(--transition-timing);
  border: 1px solid var(--secondary);
  border-radius: 15px;
  padding: 10px;
  margin: 5px;
  position: absolute;
  left: 50%;
  text-decoration: none;
  color: var(--secondary);
  transform: translateY(-200%);
  z-index: 1000;
}

.SkipLink:focus {
  transform: translateY(0%);
}

.NavBar__A {
  transition-property: color border-color;
  transition-duration: var(--transition-timing);
  border: 1px solid var(--secondary);
  border-radius: 15px;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  color: var(--secondary);
}

.NavBar__A:not(.NavBar__A--isActive):hover {
  color: var(--active-link);
  transition: 0s;
}

.NavBar__A--isActive {
  background-color: var(--secondary);
  color: var(--primary);
}


.NavBar__ThemeButton {
  transition: all var(--transition-timing);
  border: 2px solid var(--secondary);
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  color: var(--secondary);
  overflow: hidden;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: #0000;
}

.NavBar__ThemeIconContainer {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
}

.NavBar__ThemeIcon {
  min-width: 35px;
  min-height: 35px;
  padding: 10px 0 5px;
}

.NavBar__ThemeIcon--Current,
.NavBar__ThemeIcon--Previous {
  transition: transform var(--transition-timing);
}

.LightIcon.NavBar__ThemeIcon--Current {
  transform: translateY(0);
}

.DarkIcon.NavBar__ThemeIcon--Next {
  transform: translateY(0px);
}

.HighContrastIcon.NavBar__ThemeIcon--Previous {
  transform: translateY(-150px);
}

/*  */
.LightIcon.NavBar__ThemeIcon--Previous {
  transform: translateY(-50px);
}

.DarkIcon.NavBar__ThemeIcon--Current {
  transform: translateY(-50px);
}

.HighContrastIcon.NavBar__ThemeIcon--Next {
  transform: translateY(-50px);
}

/*  */
.LightIcon.NavBar__ThemeIcon--Next {
  transform: translateY(50px);
}

.DarkIcon.NavBar__ThemeIcon--Previous {
  transform: translateY(-100px);
}

.HighContrastIcon.NavBar__ThemeIcon--Current {
  transform: translateY(-100px);
}

.NavBar__SideNavExpander {
  transition: color border-color var(--transition-timing);
  border: 1px solid var(--secondary);
  border-radius: 15px;
  padding: 10px;
  margin: 5px;
  font-weight: bold;
  color: var(--secondary);
  background-color: #0000;
}

.NavBar__SideNavExpander--Hidden {
  display: none;
}

.NavBar__ResponsiveContent {
  display: flex;
  align-items: center;
  overflow: visible;
}

.NavBar__ResponsiveContent--Hidden {
  display: none;
}

.NavBar__ResponsiveContent>* {
  margin-left: var(--xSmall)
}

.GithubLink {
  display: inline-block;
  --initialSize: 40px;
  --svgSize: 35px;
  --max-width: 300px;
  --inner-font: 1.75rem;
  width: var(--initialSize);
  height: var(--initialSize);
  border: 2px solid var(--secondary);
  border-radius: var(--medium);
  overflow: hidden;
  transition-property: width background-color;
  transition-duration: var(--transition-timing);
  background-color: var(--secondary);
  color: var(--primary);
  text-decoration: underline 1px;
}

@media screen and (max-width: 600px) {
  .GithubLink {
    --max-width: 250px;
    --inner-font: 1.5rem;
  }
}

.GithubLink:hover,
.GithubLink:focus {
  width: var(--max-width);
}

@media screen and (hover: none) {
  .GithubLink {
    width: var(--max-width);
  }
}

.GithubBackground {
  display: flex;
}

.GithubSVGText {
  padding-left: 10px;
  align-self: center;
  min-width: max-content;
  font-size: var(--inner-font);
}

#GithubSVG {
  min-width: var(--svgSize);
  height: var(--svgSize);

  /* needed due to misalignment in svg itself */
  padding-top: 5px;
  margin-left: 2px;

  transition: fill var(--transition-timing);
  fill: var(--primary);

}