.SideNavContainer {
  padding: 0 var(--hSideNavPadding);
  position: sticky;
  top: 6rem;
  height: fit-content;
}

.SideNav {
  width: max-content;
  display: flex;
  flex-direction: column;
}

.SideNav__Section {
  padding: 5px 0 5px 15px;
  border-left: 2px solid var(--tertiary);
  color: var(--secondary);
  transition: color var(--transition-timing);
  text-decoration: none;

}


.CollapsableSideNav {
  top: 0;
  left: 0;
  height: 100vh;
  background-color: var(--primary);
  transition: width var(--transition-timing);
  position: fixed;
  overflow-x: hidden;
  border-right: 1px solid var(--tertiary);
}

.CollapsableSideNav--Expanded {
  width: var(--mobileViewSideNavWidth);
}

.CollapsableSideNav--Collapsed {
  width: 0;
}

.CollapsableSideNav__Collapser {
  width: var(--mobileViewSideNavWidth);
  display: flex;
  justify-content: flex-end;
}


