.SideNav {
  padding: 0 var(--hSideNavPadding);
  position: sticky;
  top: 6rem;
  height: fit-content;
  width: max-content;
  display: flex;
  flex-direction: column;
}

.SideNav__Section {
  padding: 5px 0 5px 15px;
  border-left: 2px solid var(--tertiary);
  color: var(--secondary);
  transition: color var(--transition-timing);
  text-decoration: none;
}

.SideNav__ArticleName {
  color: var(--secondary);
  transition-property: text-shadow, color;
  transition-duration: var(--transition-timing);
  margin: 5px 0;
  text-decoration: none;
}

.SideNav__ArticleName:hover {
  text-shadow: 0px 0px 1px var(--secondary);
}

.SideNav__ArticleName--isActive {
  text-decoration: underline;
}