.SideNavCollapser {
  top: 0;
  left: 0;
  height: 100vh;
  background-color: var(--primary);
  width: 0;
  transition: all var(--transition-timing);
  position: fixed;
  overflow-x: hidden;
  border-right: 1px solid var(--tertiary);
  
}

.SideNavCollapser--Expanded {
  width: var(--mobileViewSideNavWidth);
}


.SideNavCollapser__Collapser {
  width: var(--mobileViewSideNavWidth);
  display: flex;
  justify-content: flex-end;
}