:root {
  --primary: rgb(255, 255, 255);
  --secondary: rgb(0, 0, 0);
  --xSmall: 1.2rem;
  --small: 5rem;
  --medium: 10rem;
  --large: 15rem;
}

body {
  margin: 0px;
  color: var(--secondary);
  font-family: Arial, Helvetica, sans-serif;

}

button:hover {
  cursor: pointer;
}

* {
  transition-property: background-color, color;
  transition-duration: 0.5s;
}


.App {
  background-color: var(--primary);
  min-height: 100vh;
}

.NavBar {
  padding: var(--xSmall) var(--large);
  color: var(--secondary);
  border-bottom: 1px solid rgb(70, 70, 70);
}

.NavBar__a {
  margin: 5px;
}

.NavBar__a--isActive {
  color: red
}

.BelowNav {
  padding: var(--small) var(--large) 0;
  display: flex;
}

main {
  flex: 6;
  border: 1px solid black;
  padding: 0 var(--xSmall)
}

section {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  padding: var(--xSmall);
}

.Section__ArticleName {
  color: var(--secondary);
  transition-property: text-shadow, color;
  transition-duration: 0.5s;
  margin: 5px 0;
}
.Section__ArticleName:hover {
  text-shadow: 0px 0px 1px var(--secondary);
}

aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  padding: var(--xSmall);
}