@import "./styles/NavBar.css";
@import "./styles/ArticleNav.css";
@import "./styles/Aside.css";
@import "./styles/Main.css";
@import "./styles/Body.css";

:root {
  /* colors */
  --primary: hsl(0, 0%, 100%);
  --secondary: hsl(0, 0%, 0%);
  --tertiary: hsl(0, 0%, 40%);

  /* distances */
  --xSmall: 1.2rem;
  --small: 5rem;
  --medium: 10rem;
  --large: 15rem;

  /* animations */
  --transition-timing: 0.5s;
  scroll-behavior: smooth;
  scroll-padding-top: var(--small);

  /* responsive paddings */
  --hBodyPadding: var(--large);
  --hMainPadding: var(--small);

  /* font sizes */
  --large-font: 3rem;
  --medium-font: 2rem;
  --small-font: 1.5rem;

}

@media (prefers-reduced-motion: reduce) {
  :root {
    --transition-timing: 0s;
    scroll-behavior: auto;
  }
}

@media screen and (max-width: 1700px) {
  :root {
    --hBodyPadding: var(--medium);

  }
}

@media screen and (max-width: 1400px) {
  :root {
    --hBodyPadding: var(--small);
    --hMainPadding: var(--xSmall);
  }
}

@media screen and (max-width: 1200px) {
  :root {
    --hBodyPadding: var(--xSmall);
    /* --hMainPadding: 0; */

    --large-font: 2.5rem;
    --medium-font: 2rem;
    --small-font: 1.3rem;
  }


}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--secondary);
  transition: color var(--transition-timing);
}