@import "./styles/Body.css";
@import "./styles/NavBar.css";
@import "./styles/SideNav.css";
@import "./styles/Main.css";
@import "./styles/SideNavCollapser.css";


:root {
  /* colors */
  --primary: hsl(0, 0%, 100%);
  --secondary: hsl(0, 0%, 0%);
  --tertiary: hsl(0, 0%, 40%);

  /* distances */
  --xSmall: 1.2rem;
  --small: 5rem;
  --medium: 10rem;
  --large: 15rem;

  /* animations */
  --transition-timing: 0.5s;
  --scroll-behavior: smooth;

  /* responsive variables */
  --hBodyPadding: var(--large);
  --hMainPadding: 0;
  --hSideNavPadding: var(--hBodyPadding);
  --mobileViewSideNavWidth: 60vw;

  /* font sizes */
  --large-font: 3rem;
  --medium-font: 2rem;
  --small-font: 1.5rem

}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--secondary);
  transition: color var(--transition-timing);
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --transition-timing: 0s;
    --scroll-behavior: auto;
  }
}

@media screen and (max-width: 2000px) {
  :root {
    --hBodyPadding: var(--medium);
  }
}

@media screen and (min-width: 1400px) and (max-width: 1800px) {
  :root {
    --hBodyPadding: var(--small);
  }
}

/* Tablet View */

@media screen and (max-width: 1400px) {
  :root {
    --large-font: 2.5rem;
    --medium-font: 2rem;
    --small-font: 1.3rem;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1400px) {
  :root {
    --hBodyPadding: var(--small);
    --hMainPadding: var(--xSmall);
    --hSideNavPadding: var(--small);
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  :root {
    --hMainPadding: var(--xSmall);
    --hBodyPadding: var(--xSmall);
    --hSideNavPadding: var(--xSmall);
  }
}

/* Mobile View */
@media screen and (min-width: 400px) and (max-width: 800px) {
  :root {
    --hMainPadding: var(--xSmall);
    --hBodyPadding: var(--xSmall);
    --hSideNavPadding: var(--small);
  }
}

@media screen and (max-width: 400px) {
  :root {
    --hMainPadding: var(--xSmall);
    --hBodyPadding: var(--xSmall);
    --mobileViewSideNavWidth: 80vw;
  }
}

